RewriteEngine On
RewriteBase /

# Handle 404 errors by redirecting to index.html
ErrorDocument 404 /index.html

# Redirect all requests to index.html except for actual files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
